@model string  
@{
    ViewData["Title"] = "IVAN_HELOW_ORLD";
}


<h1>@Model</h1>
<form method="get" action="IvanHeloWorld" >
<input type="text" name="from" value="inputerName"
       class="alert-dark"/>
</form>
