@model WEB.Models.AddUserToFlateModel

@{
	ViewData["Title"] = "LiversAdd";
	Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Login</h2>

<hr />
<div class="row">
	<div class="col-md-4">
		<form method="post">
			<div asp-validation-summary="All" class="text-danger"></div>
			<div class="form-group">
				<label asp-for="UserID" class="control-label"></label>
				<input asp-for="UserID" class="form-control" />
			</div>
			<div class="form-group">
				<label asp-for="FlatId" class="control-label"></label>
				<input asp-for="FlatId" class="form-control" />
			</div>
			<div class="form-group">
				<input type="submit" value="Add" class="btn btn-default" />
			</div>
		</form>
		<div>
			<p1>@ViewData["CityWhichUserLooking"]</p1>
		</div>
	</div>
</div>
